/* Navbar styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0 5px;
  font-size: 20px;
  box-shadow: 0 8px 10px rgba(128, 126, 126, 0.2); 
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  z-index: 1000; 
  background-color: white; 
  color: black;
}

.navbar.white {
  background-color: white;
  color: black;
}
 
.hamburger-btn {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger-btn {
  color: black;
} 

.sidebar-container {
  position: fixed;
  top: 0;
  left: -250px;
  height: 100%;
  width: 250px;
  background: #f8f9fa;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in-out;
  z-index: 999; 
}

.sidebar-container.open {
  left: 0;
}

.sidebar-container .overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 998;
  display: none;
}

.sidebar-container.open + .overlay {
  display: block;
}

.content {
  margin-top: 70px; 
  margin-left: 0;
  padding: 20px;
  transition: margin-left 0.3s ease-in-out;
}
