.news-card {
    display: flex;
    align-items: stretch;
    width: 100%;
    max-width: 900px;
    height : 100%;
    height : 300px;
    margin: 15px auto;
    background-color: white; 
    color: black; 
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .news-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  .news-card img {
    width : 350px;
    height: 100%;
    border-radius: 10px;
    object-fit: cover; 
    border-right: 1px solid #444; 
  }
  
  .news-card h3 {
    font-size: 20px;
    font-weight: 300;
    margin: 10px 0 5px;
    color: black;
  }
  
  .news-card p {
    font-size: 16px;
    margin: 0;
    color: #ccc; 
  }
  
  .news-card div {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
  }
  